.wp-block-post-comment-list {
	div {
		margin-bottom: 20px;
	}

	span {
		background: #edeff0;
		color: #edeff0;
	}
}

.wp-block-post-comment-list__avatar {
	float: left;
	width: 50px;
	height: 50px;
	background: #edeff0;
	margin: 0 20px 20px 0;
}
